@font-face {
	font-family: 'TBC Din Mtavruli';
	src: url('../font/tbcdin_mtavruli_medium-webfont.eot');
	src: url('../font/tbcdin_mtavruli_medium-webfont.eot?#iefix') format('embedded-opentype'),
		url('../font/tbcdin_mtavruli_medium-webfont.woff') format('woff'),
		url('../font/tbcdin_mtavruli_medium-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'TBC Din Mtavruli';
	src: url('../font/tbcdin_mtavruli_bold-webfont.eot');
	src: url('../font/tbcdin_mtavruli_bold-webfont.eot?#iefix') format('embedded-opentype'),
		url('../font/tbcdin_mtavruli_bold-webfont.woff') format('woff'),
		url('../font/tbcdin_mtavruli_bold-webfont.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}